body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../public/background.jpg');
    background-size: cover;
}

form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
}

form input[type="email"],
form input[type="text"],
form input[type="password"],
form input[type="repassword"],
form input[type="username"],
form input[type="repassword"]{
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

form button[type="submit"] {
    background-color: #E67300;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
    background-color: #B45C00;
}

.link:visited {
    color: #E67300;
}

.Message {
    color: #EE4B2B
}

.user-profile {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.username {
  font-weight: bold;
}
